<h4 class="card-title">Liste des sondages</h4>
<div class="card-body">
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th>Nom</th>
          <th>description</th>
          <th>Auteur</th>
          <th class="text-right">Nombre de votes</th>
          <th class="text-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sondage of sondages">
          <td class="text-center">{{ sondage.id }}</td>
          <td>{{ sondage.nom }}</td>
          <td>{{ sondage.description }}</td>
          <td>{{sondage.auteur}}</td>
          <td class="text-right">{{sondage.vote}}</td>
          <td class="td-actions text-right">
            <a href=""><i class="tiny material-icons">remove_red_eye</i></a>
            <a href=""><i class="tiny material-icons">create</i></a>
            <a href=""><i class="tiny material-icons">close</i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>