<div class="row">
    <div class="card col-md-6 offset-md-3 offset-md-3">
        <div class="row">
            <h3 class="text-center"> Create Employee </h3>
            <hr />
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">

                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" id="description" [(ngModel)]="Sondage.description
                            name="description">
                    </div>

                    <div class="form-group">
                        <label></label>
                        <input type="text" class="form-control" id="lastName" [(ngModel)]="Sondage.lastName"
                            name="lastName">
                    </div>

                    <div class="form-group">
                        <label> Email Id</label>
                        <input type="text" class="form-control" id="emailId" [(ngModel)]="Sondage.emailId"
                            name="emailId">
                    </div>

                    <br />
                    <button class="btn btn-success" type="submit">Submit</button>

                </form>
            </div>
        </div>
    </div>
</div>